*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   margin-top: 5%;
     background-color: black;
     color: white;
}
header{
   top: 0;
   position: fixed;
}
.sidenav{
   position: fixed;
}
#link{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
#link h2{
color: yellow;
}
#link img{
   width: 6%;
   border-radius: 50%;
}
.addBlogs{
   display: flex;
   flex-wrap: wrap;
   flex: 1;
   gap: 7.5%;
 }
.sidenavigation{
   background-color: #1e1e1e;
   position: fixed;
   height: 100%;
   width: 15%;
   font-size: 100%;
   display: grid;
   margin-top: 2.4%;
}
.conteiner{
   background-color: #1e1e1e;
   box-shadow: 1px 1px 10px 0.01px rgb(92, 92, 38);
   width: 60%;
   position: absolute;
   display: block;
   padding: 2% 2%;
   margin-top: 2%;
   left: 25%;
   border-radius: 10px;
}
.sidenavigation a{
   text-align: center;
   color: white;
   text-decoration: none;
}
.add-blogs{
    margin-top: 2%;
 }
 .add-blogs h2{
    text-align: center;
    color: yellow;
 }
 .file, .title{
    margin-top: 2%;
    font-size: 100%;
 }

 .title input{
    width: 50%;
    padding: 0.9%;
    background-color: #1e1e1e;
    border: 1px solid rgb(124, 124, 13);
    border-radius: 10px;
 }
 .file input{
    width: 50%;
    padding: 0.9%;
    background-color: #1e1e1e;
    border-radius: 10px;
 }
#description{
   margin-left: 40%;
   top:14%;
}
.options{
   border-top: rgb(65, 65, 2) 0.2px solid;
   margin-top: 1%;
}
.options{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 7.2%;
}
button{
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    background-color: #1e1e1e;
    color: aliceblue;
    outline: none;
    border: none;
    cursor: pointer;
}
select{
    padding: 1%;
    border: 1px solid yellow;
    border-radius: 3px;
}
.options label,
.options select{
    font-family: sans-serif;
}
 .input-wrapper{
    display: flex;
    align-items: center;
    gap: 2%;
    font-size: 100%;
 }
 input[type="color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 50%;
    height: 17px;
    border: none;
    cursor: pointer;
 }
 #textColor{
   font-size: small;
   width: 100%;
 }
 input[type="color"]::-webkit-color-swatch{
    border-radius: 3px;
    box-shadow: 0 0 0 3px black, 0 0 0 3px white;
 }
 input[type="color"]::-moz-color-swatch{
    border-radius: 15px;
    box-shadow: 0 0 0 2px black, 0 0 0 3px white;
 }
 #text-input{
    margin-top: 3%;
    padding: 3%;
    border: 1px solid rgb(78, 78, 52);
    height: 100%;
    border-radius: 8px;
    resize: none;
 }
 .active{
    background-color: rgb(62, 62, 24);
 }
 #login-botton{
    background-color: rgb(120, 120, 29);
    width: 20%;
    font-size: large;
    margin-top: 3%;
 }
 /* add blogs */
 .add-blogs h2{
  position: absolute;
  left: 50%;
 }
 .input-area{
    width: 70%;
    position: absolute;
    padding: 2% 2%;
    margin-top: 0.3%;
    border-radius: 10px;
    left: 20%;
    color: rgb(216, 216, 9);
 }
 #description{
   position: absolute;
   left: 2%;
   margin-top: 13%;
   color: rgb(223, 223, 11);
 }
 input{
   color: white;
 }
 #form1{
   display: flex;
   flex-wrap: wrap;
 }
 
 @media screen and (max-width: 800px){
   #link{
       margin: 0;
       width: 100%;
       font-size: 100%;
   }
   header{
      width: 100%;
       top: 0%;
       position: fixed;
   }
   #link{
       display: none;
   }
   .logo{
       padding: 3%;
       font-size: 100%;
   }
   #menuIcon{
       width: 8%;
       margin-right: 7%;
       display: block;
   }
   .add-blogs{
      display: flex;
   }
   .addBlogs{
      display: flex;
    }
    .sidenavigation {
      background-image: #1e1e1e;
      position: absolute;
      display: none;
      justify-content: space-between;
      height: fit-content;
      margin-top: 7.5%;
      width:100%;	
      transition: 0.6s;
  }
  .sidenavigation a{
       display:block;
       text-align: start;
       margin: 0;
      margin-left: 5%;
      font-size: small;
  } 
   .conteiner{
      margin-top: 32%;
      width: 100%;
      right: 0;
      left: 0;
   }
   .input-area{
      width: 100%;
      margin-left: 0%;
      margin-top: 20%;
      left: 0;
   }
   .input-area input{
      width: 100%;
   }
   #menuIcon{
      width: 8%;
      margin-right: 7%;
      display: block;
  }
   #description{
      margin-top: 20%;
      text-align: center;
   }
}

