*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    margin-top: 5%;
    background-color: black;
    color: white;
}
header{
    top: 0;
    position: fixed;
    margin: 0px;
    overflow: hidden;
    background-color:#1e1e1e;
    color:white;
    transition: 1s;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
header ul{
    position: relative;
    background-color:#1e1e1e;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 10%;
    transition: 1s;
}
header h1{
    margin-left: 10%;
    background-color: #1e1e1e;
}
/* This the css for the head section */
.sticky + .landing {
    padding-top: 2%;
  }
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
#menuIcon{
    width: 2%;
    display: none;
}
.logo{
    cursor: pointer;
    margin-left: 4%;
    font-size: larger;
}
header ul li{
    position: relative;
    list-style: none;
    transition: 1s;
}
header ul li a{
    background-color: #1e1e1e;
    text-decoration: none;
    position: relative;
    text-decoration: none;
    color: white;
    transition: 1s;
}
#link{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
#link h2{
color: yellow;
}
#link img{
   width: 6%;
   border-radius: 50%;
}
#settings a:hover{
    color: yellow;
}
a:hover{
    color: yellow;
}
#bullet, #allowDawn{
    background-color: #1e1e1e;
    color: yellow;
    font-size: large;
}
/* admin panel */
.adminPanel{
 padding-top: 2%;
display: flex;
justify-content: space-between;
}
.sidenav{
    position: fixed;
    background-color:#1e1e1e;
    width: fit-content;
    font-size: 100%;
    display: block;
    width: 15%;
    height: 100%;
}
.sidenav a{
    font-size: 100%;
    display: block;
    margin-left: 20%;
    padding-top: 15%;
    padding-bottom: 15%;
    text-decoration: none;
    color: white;
}
/* admin panel */

.contents{
   display: flex;
   justify-content:center;
   align-items: center;
   flex-wrap: wrap;
   flex: 1;
   padding: 2%;
   width: 100%;
}
.comment-number, .querry-number, .artical-number{
    position: relative;
    background-color: #1e1e1e;
    box-shadow: 1px 1px 10px 0.01px rgb(92, 92, 38);
    height: fit-content;
    text-align: center;
    width: 10%;
    padding: 2%;
    border-radius: 10px;
    margin: 1%;
    font-size: 90%;
    cursor: pointer;
}
.artical-number:hover, .querry-number:hover ,.comment-number:hover{
    transform: translateY(-5%);
}
img{
    width: 20%;
}
.newest-query{
    background-color: #1e1e1e;
    box-shadow: 1px 1px 10px 0.01px rgb(92, 92, 38);
    height: fit-content;
    width: 61%;
    letter-spacing: 2%;
    padding: 1%;
    border-radius: 10px;
    margin: 1%;
    margin-left: 1%;
    font-size: 90%;
}
#replay{
    background-color: black;
    color: white;
    width: 20%;
    padding: 1%;
    margin-right: 2%;
    border-radius: 8px;
    cursor: pointer;
}
#delete{
    background-color: rgb(148, 148, 8);
    color: white;
    width: 20%;
    padding: 1%;
    margin-top: 2%;
    margin-right: 2%;
    border-radius: 8px;
    cursor: pointer;
}
    .bacgraoundImage{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5em;
        width: 30%;
         margin-left: 30%;
        border-radius: 50%;
        filter: blur(9em);
    }

    /* View Articals */
    .blog2{
        display: flex;
        justify-content: space-between;
        background-color: #1e1e1e;
        width: 100%;
        margin-top: 2%;
        margin-left: 20%;
        margin-right: 10%;
        padding: 1%;
        border-radius: 5px;
    }
    #blogContent{
        margin-left: 5%; 
    }
    #blogsImage{
        width: 20%;
    }
    .blog2 img{
        width: 60%;
    }
    .controllers{
        display: flex;
    }
    #quote{
        color: yellow;
    }
  @media screen and (max-width: 800px){
        #link{
            margin: 0;
            width: 100%;
            font-size: 100%;
        }
        header{
            top: 0%;
            position: fixed;
        }
        header ul{
             display: block; 
            width: 100%;  
            font-size: 100%;
        }
        header ul li{
            margin-left: 9%;
            margin-top: 3%;
            font-size: 100%;
        }
        .adminPanel{
            padding-top: 0;
        }
        #link{
            display: none;
        }
        .logo{
            padding: 3%;
            font-size: 100%;
        }
        #menuIcon{
            width: 8%;
            margin-right: 7%;
            display: block;
        }
        .contents{
            padding: 0;
            margin-top: 9%;
            width: 100%;
            display: block;
            justify-content: center;
            align-items: center;
        }
        .comment-number, .querry-number, .artical-number{
            width: 90%;
            text-align: center;
            margin-top:2% ;
            margin-left: 5%;
            font-size: small;
            padding: 0;
        }
        .sidenav {
            background-image: linear-gradient(to right, rgb(225, 137, 30) , rgb(206, 232, 39));
            position: relative;
            display: none;
            height: 100%;
            margin-top: 7.6%;
            width:25%;	
        }
        .sidenav a{
            margin-left: 3%;
            font-size: 100%;
        }
        img{
            width: 10%;
        }
        .newest-query{
            padding: 0;
            width: 90%;
            margin: 0;
            margin-top: 3%;
            margin-left: 5%;
            font-size: small;
        } 
    
        /* view blogs */
        .blog2{
            width: 90%;
            margin-left: 4%;
            margin-right: 5%;
        }
  }

