#login-form1{
    background-color: #1e1e1e;
    padding: 1%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20px;
}
.login-contact h2{
    color: yellow;
    text-align: center;
}
.input-area{
    margin-left: 20%;
    margin-right: 20%;
}
input{
    color: white;
    background-color: #1e1e1e;
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid yellow;
}
.email, .Password{
    margin-top: 5%;
    }
    #login-botton,#sign{
        background-color: black;
        width: 50%;
        height: 2rem;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        font-size: larger;
    }
    #signUp a{
        color: yellow;
    }
    .pop-up-message{
     background-color: rgb(44, 43, 41);
    position: fixed;
    margin-top: 0;
    padding: 1%;
    width: 37%;
    margin-left: 30%;
    margin-right: 25%;
    text-align: center;
    font-size: medium;
    color: yellow;
    font-weight: 100;
    border-radius: 10px;
    display: none;
    }
    #loading-div{
        position: fixed;
        width: 2rem;
        height: 2rem;
        border: 5px solid yellow;
        border-top: 5px solid #1e1e1e;;
        border-radius: 50%;
        top: 0;
        margin-top: 4%;
        margin-left: 48%;
        visibility: hidden;
        animation: spin 0.5s infinite linear;
    }
    #loading-div.display{
        visibility: visible;
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    @media screen and (max-width: 800px){
        #login-form1{
            width: 100%;
            margin: 0;
            padding: 0;
            font-size: 100%;
            padding-top: 2%;
            padding-bottom: 2%;
        }
        #login-botton{
            font-size: small;
        }
    }